@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.ttf') format('truetype'),
}
@font-face {
    font-family: 'EstedadBold';
    src: url('../fonts/Estedad-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'EstedadSemiBold';
    src: url('../fonts/Estedad-SemiBold.ttf') format('truetype'),
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Shabnam', sans-serif;
}
.main-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    direction: rtl;
}
#img1 {
    height: 100vh;
    width: auto;
    /* Remove position, left, top */
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   /* Center vertically */
    align-items: center;       /* Center horizontally */                  /* Take remaining space */
    height: 100vh;
    width: 25vw;
    background-color: cadetblue;
    border-left: solid 4px #f0f0f0;
}
.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 150px;
    max-width: 300px;
    height: 60px;
    margin: 10px 0;
    background-color: white;
}
button {
    border-radius: 10px;
    font-family: 'Shabnam', sans-serif;
    transition: background-color 0.3s ease;
    transition: transform 0.1s ease;
}
button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
h3 {
    font-family: 'Shabnam', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: rgb(67, 103, 104);
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    margin-top: 0;
    text-align: center;
    border-bottom: solid  2px #f0f0f0;
    color: white;
}
.content-area {
    flex: 1;
    height: 100vh;
    background-color: #393E46;
    text-align: center;
    color: whitesmoke;
}
h1 {
    font-size: 3rem;
    margin: 16px 0 0;
    color: slateblue;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    margin-top: 0;
    font-family: 'EstedadBold';
}
#subtitle {
    font-size: 1.2rem;
    color: azure;
    margin-top: 0;
    font-family: 'EstedadSemiBold';
    border-bottom: solid gray 2px;
    padding-bottom: 15px;
}
#logo {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 0;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 1px;
}
#school-img {
    width: 40vw;
    max-width: 1200px;
    max-height: 350px;
    border-radius: 8px;
    margin-top: 3px;
    animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to   { opacity: 1; transform: translateY(0); }
}